**/node_modules
**/dist
**/build

**/.venv
**/.env
**/.env.*
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/coverage

**/*.log
**/.DS_Store

